@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baloo Bhai 2", sans-serif;
}

body {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    font-size: 16px;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.inputcontainer {
    width: 100%;
    max-width: 500px; 
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #6597b8;
}

.inputcontainer input {
    border: 1px solid #d1d1d1;
    outline: none;
    padding: 12px;
    margin-block: 12px;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.inputcontainer input[type="text"] {
    width: 70%;
}

.inputcontainer input[type="text"]:focus {
    border-color: rgb(227, 227, 14);
}

.inputcontainer input[type="button"] {
    background-color: rgb(227, 227, 14);
    margin-left: 5px;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.inputcontainer input[type="button"]:hover {
    background-color: #d5d546;
    transform: translateY(-1px);
}

ul {
    width: 100%;
    max-width: 450px;
    padding: 0;
    margin-top: 20px; 
}

ul li {
    list-style: none;
    cursor: pointer;
    margin-block-end: 12px; 
    border-radius: 8px;
    border: 1px solid #a19f9f;
    padding: 12px;
    /* background-color: #ffffff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 2px 2px 4px;
    
}
ul li:hover {
    background-color: rgb(211, 233, 211) ;
    transform: translateY(-2px);
}

ul li p {
    flex-grow: 1;
    padding: 2px;
}

.btn {
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
    transition: color 0.3s;
}

.deletebtn {
    color: #ff0000;
}

.deletebtn:hover {
    color: #ff4d4d;
}

.editbtn {
    color: #008000;
}

.editbtn:hover {
    color: #4caf50;
}
.inputcontainer h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputcontainer h1 img{
    width: 0.7em;
    margin-left: 7px;
}

.checked {
    background-color: rgb(192, 226, 192); 
}

